<StackLayout>
    <Label text="Habit App" class="h1 text-center"></Label>
    <TextField #habitTextField
      [hint]="isAndroid ? 'ENTER NEW HABIT' : 'New habit'"
      (loaded)="handleAndroidFocus(habitTextField, container)"
      returnKeyType="done"
      (returnPress)="onAdd()"
      class="p-20"
      >
    </TextField>
    <StackLayout *ngFor='let habit of habits' class='habit'
      [class.habit--done]="isDoneToday(habit.lastTimestamp)"
      >
      <GridLayout columns="50, *" rows="50">
        <Label col="0" [text]='habit.streak' class='habit__streak' (tap)='onStreakClick(habit)'></Label>
        <Label col="1" [text]='habit.name' class='habit__name'></Label>
      </GridLayout>
    </StackLayout>
    <!--<ListView
      [items]='habits',
      height="auto"
    >
      <template let-item='item'>
        <GridLayout columns="100, *">
          <StackLayout
            col="0"
            orientation="horizontal"
            (tap)='onStreakClick(item)'>
            <Label [text]='item.streak' class='habit__streak'></Label>
          </StackLayout>
          <StackLayout 
            col="1">
            <Label [text]='item.name' class='habit__name'></Label>
          </StackLayout>
        </GridLayout> 
      </template>
    </ListView>-->
    <!--<Button text="TAP" (tap)="onTap()" class="btn btn-primary btn-active"></Button>
    <Label [text]="message" class="h2 text-center" textWrap="true"></Label>-->
</StackLayout>